<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="https://mamin.dev">Blog</a>
            <!-- <a href="{{ site.baseurl }}/about">About</a> -->
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      <p>I am a Data & Analytics Cloud Solution Architect. I help data teams build reliable, secure, performant, and cost optimized data platforms in the cloud. I also help data teams implement effective DevOps processes to increase the operational excellence of their platforms. I am currently focused on the Microsoft Azure Data & Analytics stack.</p>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
